/* ----------- Estrutura do Site
*/
.container {
	background: #290334;
	color: #fff;
}

.link-container {
	display: flex;
	justify-content: center;
}

.links {
	text-decoration: none;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

p {
	text-align: center;
}



/* Link Cabeçalho 
*/

#logo {
	color: white;
}

#logo:hover {
	background: #000;
}




